* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.btn {
    font-family: "Press Start 2P" !important;
    margin: 400px 0 0 150px;
    height: 2.2rem;
    width: 10rem;
    background: #56CCF2;
    color: #ffffff;
    font-size: 0.8rem;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 10%;
}

.btn:hover {
    background: blue;
}


.main-editor {
    display: flex;
    width: 100%;
    position: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.first {
    background: radial-gradient(50% 50% at 50% 50%, #444444 0%, #4B4B4B 100%);
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre;
    outline: none;
    padding: 3rem;
    height: 100%;
    color: #E0E0E0;
}

.second {
    background-color: rgba(255, 131, 131, 0.79);
    width: 50%;
    overflow-y: auto;
    white-space: pre;
    height: 100%;
    padding: 3rem;
}
