* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P" !important;
    word-wrap: break-word;
}


.code-editor-btn {
    padding: 20px 30px;
    background: #56CCF2;
    color: #ffffff;
    font-size: 0.8rem;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 10%;
    left: 25%;
    transform: translateX(-50%);

    /*MAKE BUTTON UNSELECTABLE*/
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

.code-editor-btn:hover {
    background: blue;
}


.main-editor {
    display: flex;
    width: 100%;
    position: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.editor {
    background: radial-gradient(50% 50% at 50% 50%, #444444 0%, #4B4B4B 100%);
    width: 50%;
    overflow-y: auto;
    white-space: break-spaces;
    outline: none;
    padding: 3rem;
    height: 100%;
    color: #E0E0E0;
}

.second {
    background-color: rgba(255, 131, 131, 0.79);
    width: 50%;
    overflow-y: auto;
    white-space: break-spaces;
    font-family: "Press Start 2P" !important;
    height: 100%;
    padding: 3rem;
}
